nav {
    background-color: #1F2739;
    color: white;
    text-align: center;
    font-size: 1vw;
    margin-bottom: 1.5em;
}

body {
    color: #1F2739;
}

.container {
    text-align: center;
}

.row {
    margin: 0 auto;
}

input {
    color: #323C50;
    background-color: white;
    border: 1px solid;
    border-color: #323C50;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin: 2px;
    width: 4.5em;
}

input[type=text]:focus {
    outline-color: #323C50;
}

label {
    color: #fff;
    background-color: #323C50;
    border: 1px solid;
    border-color: #323C50;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin: 2px;
    width: 5em;
}

#monitor {
    alignment: center;
    background-color: #1F2739;
    color: white;
}

#monitor .col-4 {
    margin: 1em 0 1em 0;
}

#monitor div div {
    padding: 1em;
    margin-inside: 1em;
    outline: 1px solid white;
}

.fatDiv {
    background-color: #8B008B;
}

.thinDiv {
    background-color: #FF8C00;
}

#advies {
    padding-top: 1em;
    font-style: italic;
}

#history {
    alignment: center;
    padding-top: 2.2em;
    padding-bottom: 2em;
    line-height: 2.2em;
}

.col-2 {
    padding-bottom: 0.1em;
    padding-top: -0.1em;
}

footer {
    color: white;
    background-color: #1F2739;
    padding: 0.5em;
}

.col-sm.contact {
    padding-top: 0.5em;
    text-align: left;
}

a, a:hover, a:visited {
    color: white;
}

#delete-account {
    padding-top: 0.3em;
    text-align: right;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #1F2739;
    border-color: #1F2739;
}

@media only screen
and (min-width : 320px) {
    #history {
        width: 95%;
    }
    #monitor {
        width: 95%;
        margin: 1em auto;
    }
}

@media only screen
and (min-width : 768px) {
    #history {
        width: 60%;
    }
    #monitor {
        width: 80%;
        margin: 1em auto;
    }
}

@media only screen
and (min-width : 1200px) {
    #history {
        width: 50%;
    }
    #monitor {
        width: 70%;
        margin: 1em auto;
    }
}

@media only screen
and (min-width : 1600px) {
    #history {
        width: 40%;
    }
    #monitor {
        width: 65%;
        margin: 1em auto;
    }
}
