nav {
    background-color: #1F2739;
    color: white;
    text-align: center;
    font-size: 1vw;
    margin-bottom: 2em;
}

body {
    color: #1F2739;
}

.container {
    text-align: center;
}

input {
    width: 6%;
}

table {
    color: white;
    table-layout: fixed;
    border: thin dot-dash white;
    border-collapse: inherit;
    width: 70%;
    margin-left:15%;
    margin-right:15%;
}

.data-table tr {
    background-color: #323C50;
}

.data-table th {
    background-color: #1F2739;
    padding: 1em;
}
.data-table td {
    padding: 0.5em;
}

#advies {
    padding-top: 1em;
    font-style: italic;
}

#history {
    padding-top: 2em;
    padding-bottom: 2em;
    line-height: 2em;
}

footer {
    color: white;
    background-color: #1F2739;
    padding: 0.5em;
}

.col-sm.contact {
    padding-top: 0.5em;
    text-align: left;
}

a, a:hover, a:visited {
    color: white;
}

#delete-account {
    padding-top: 0.3em;
    text-align: right;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #1F2739;
}
