nav {
    background-color: #1F2739;
    color: white;
    text-align: center;
    font-size: 1vw;
    margin-bottom: 1em;
}

body {
    color: #1F2739;
}

.container {
    text-align: center;
}

table {
    color: white;
    table-layout: fixed;
    border: thin dot-dash white;
    border-collapse: inherit;
    width: 70%;
    margin-left:15%;
    margin-right:15%;
}


#history {
    width: 70%;
    margin-left:15%;
    margin-right:15%;
}

.data-table tr:nth-child(odd) {
    background-color: #323C50;
}

.data-table tr:nth-child(even) {
    background-color: #2C3446;
}

.data-table th {
    background-color: #1F2739;
    padding: 1em;
}
.data-table td {
    padding: 0.5em;
}

#advies {
    font-style: italic;
}

footer {
    color: white;
    background-color: #1F2739;
    padding: 0.5em;
}

.col-sm.contact {
    padding-top: 0.5em;
}

a, a:hover, a:visited {
    color: white;
}

#delete-account {
    padding-top: 0.3em;
    text-align: right;
}

