<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Healthy goal</title>
</head>
<body>
<!--/*@thymesVar id="user" type="java.util.List<be.intecbrussel.healthy_goal.model.User>"*/-->
<h1>HEALTHY GOAL</h1>
Welcome, <span th:text="${user.name}">ID</span>
<form class="buttonForm" method="POST" action="/logout">
    <button type="submit" style="margin-top: 2rem;">Log Out</button>
</form>
<div>
    <tr>
        Your id: <span th:text="${user.id}">ID</span>
        <br>
        Email: <span th:text="${user.email}">Email</span>
        <br>
        Provider: <span th:text="${user.provider}">AuthProdider</span>
        <br><br>
        Height: <span th:text="${user.height}">Height</span> m
        <br>
        Current weight: <span th:text="${user.currentWeight}">Current weight</span> Kg
        <br>
        BMI: <span th:text="${user.currentBMI}">BMI</span>
        <br><br>
        Healthy maximum weight: <span th:text="${user.healthyMaxWeight}">Healthy maximum</span> Kg
        <br>
        Healthy minimum weight: <span th:text="${user.healthyMinWeight}">Healthy manimum</span> Kg
        <br>
        Weight to lose: <span th:text="${user.weightToLose}">Weight to lose</span> Kg
        <br><br>
    </tr>
</div>


<h3>Your current data</h3>
<form method="POST"
      action="/setter" modelAttribute="user">
    <table>
        <tr>
            <td>
                <label path="height">height</label>
            </td>
            <td>
                <input type="text" th:field="*{user.height}"/>
            </td>
            <td>
                <label path="currentWeight">Current weight</label>
            </td>
            <td>
                <input type="text" th:field="*{user.currentWeight}"/>
            </td>
            <td><input type="submit" value="Change"/></td>
        </tr>
    </table>
</form>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" th:inline="javascript">
    google.charts.load('current', {'packages': ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Date', 'Weight'],

            /*[# th:each="weight: ${user.weights}"]*/
            [ [[${#dates.format(new java.util.Date(weight.key))}]], [[${weight.value}]] ],
            /*[/]*/
        ]);

        var options = {
            title: 'Your progress:',
            hAxis: {title: 'Timeline', titleTextStyle: {color: '#333'}},
            vAxis: {minValue: 40}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>
<div id="chart_div" style="width: 100%; height: 500px;" th:if="not ${user.weights.isEmpty()}"></div>

<h3>Advies</h3>
<div id="advies">
    <span th:text="${T(be.intecbrussel.healthy_goal.model.Advies).getAdvies()}">value</span>
</div>


<div th:if="not ${user.weights.isEmpty()}">
    <table>
        <thead>
        <tr>
            <th>History</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="weight : ${user.weights}">
            <td>
                <span th:text="${weightStat.index}">index</span>
                - <span th:text="${#dates.format(new java.util.Date(weight.key))}"></span>
                - <span th:text="${weight.value}">value</span>Kg
                <br>
            </td>
            <td>
                <form method="POST" action="/deleteValue">
                    <input type="hidden" name="key" th:value="${weight.key}"/>
                    <button type="submit">X</button>
                    <br>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<form class="buttonForm" method="POST" action="/clearData">
    <button type="submit" style="margin-top: 2rem;">Clear History</button>
</form>


<a th:href="@{/deleteUser/{id}(id=${user.id})}">!!! Delete your account !!!</a>

</body>
</html>